<!-- <div class="signPage">

  <nav class="signNav">
    <div class="storeName">
      <h4>ANYKRISS</h4>
    </div>
    <div class="signOptions">
      <button class="signIn">Sign In</button>
      <button class="signUp">Sign Up</button>
    </div>
  </nav> -->

<!-- <p><input type="text" [(ngModel)]="imgParent"></p>
  <p>{{ showImg }}</p>
  <button (click)="toggleImg()">Toogle Img</button>
  <app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"></app-img> -->
<app-nav></app-nav>
<!-- <button (click)="createUser()">Create User</button>
<a href="./../assets/files/texto.txt" download>Descargar</a>
<hr />
<p>
  <button (click)="downloadPdf()">Descargar PDF</button>
</p>
<p>
  <input type="file" (change)="onUpload($event)">
  <img *ngIf="imgRta" [src]="imgRta">
</p> -->
<router-outlet></router-outlet>
<!-- <app-products></app-products> -->

<!-- START CONTAINER LOG -->
<!-- <div class="signContainer"> -->
<!-- <div class="illustrationLeft"></div> -->
<!-- <div class="formContainer">
      <div class="signTittle">
        <p>Hey, enter your details to get sign in<br>to your account</p>
      </div>

      <form (ngSubmit)="onRegister()" #myForm="ngForm" class="form">

        <div class="input-group">
          <input type="email" placeholder="  Email..." required name="email" id="email" #myEmail="ngModel" [(ngModel)]="register.email" autocomplete="off">
          <span class="helper-text" [class.visible]="(myForm.submitted || myForm.controls['email']?.touched) && myForm.controls['email'].invalid">
            Email is missing
          </span>
        </div>

        <div class="input-group">
          <input type="password" placeholder="  Password..." required name="password" id="password" #myPassword="ngModel" [(ngModel)]="register.password">
          <span class="helper-text" [class.visible]="(myForm.submitted || myForm.controls['password']?.touched) && myForm.controls['password'].invalid">
            Password is missing
          </span>
        </div>

        <div class="supportText">
          <p>Having trouble in sign in?</p>
        </div>

        <button [disabled]="myForm.invalid" type="submit">Sign In</button>
      </form>

      <p class="optionText">—  Or sign in with  —</p>

      <a id="signinGoogle">
        <img src="../assets/google.png"> Google
      </a>

      <div class="textForSignUp">
       <label class="" for="">Don't have an account?  </label>
       <a href="#/Register" class="textHref" id="" for="">Request Now</a>
      </div>
    </div> -->

<!-- <div class="illustrationRight">
      <img src="../assets/illusRigth.png" alt="Girl in a jacket">
    </div> -->

<!-- </div> -->

<!-- END CONTAINER LOG -->

<footer class="signFooter">
  <p>AnyKriss Co. 2022 | Privacy Policy</p>
</footer>

<!-- </div> -->
